$color: yellow;
.selecionado {
    background-color: $color;
}

.input-error {
    border: 1px solid red !important;
}

.m-widget29 {
    border: 1px solid black;
    border-radius: 15px;
}

table {
    text-align: center;
}

.title-ipastel:hover {
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}