<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Pasteis</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Pedidos</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">{{vm.titulo}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-9 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-6">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Pesquisar..." id="generalSearch" ng-model="vm.inputSearch">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 order-1 order-xl-2 m--align-right">
                            <a ui-sref="dashboard" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                <span>
                                    <i class="la la-cart-plus"></i>
                                    <span>Dashboard</span>
                                </span>
                            </a>
                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                {{vm.titulo}}
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form name="pedidoForm" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">Nome Cliente:</label>
                            <div class="col-lg-3">
                                <select id="pedidoClienteId" name="pedidoClienteId" ng-model="vm.pedido.Cliente.Id" ng-options="usuarios.Id as usuarios.Nome for usuarios in vm.usuarios"
                                    class="form-control m-input" ng-class="{'input-error' : pedidoForm.pedidoClienteId.$error.required && pedidoForm.pedidoClienteId.$touched}"
                                    required>
                                    <option value="">Selecione o Cliente</option>
                                </select>
                                <span class="m-form__help">Porfavor, entre o Cliente</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">Sabor do Pastel:</label>
                            <div class="col-lg-3">
                                <select id="saborPastel" name="saborPastel" ng-model="vm.pedido.Produto.Id" ng-options="pasteis.Id as pasteis.Nome for pasteis in vm.pasteis"
                                    class="form-control m-input" ng-class="{'input-error' : pedidoForm.saborPastel.$error.required && pedidoForm.saborPastel.$touched}"
                                    required>
                                    <option value="">Selecione o Sabor</option>
                                    {{pedidos}}
                                </select>
                                <span class="m-form__help">Porfavor, entre o Sabor do Pastel</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">Quantidade:</label>
                            <div class="col-lg-2">
                                <input id="pedidoQuantidade" name="pedidoQuantidade" type="number" ng-model="vm.pedido.Quantidade" class="form-control m-input"
                                    ng-class="{'input-error' : pedidoForm.pedidoQuantidade.$error.required && pedidoForm.pedidoQuantidade.$touched}"
                                    required>
                                <span class="m-form__help">Porfavor, entre com a quantidade</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">Pedir para:</label>
                        <div class="col-lg-3">
                            <input id="pedidoData" name="pedidoData" type="date" ng-model="vm.pedido.Data" class="form-control m-input" ng-class="{'input-error' : pedidoForm.pedidoData.$error.required && pedidoForm.pedidoData.$touched}"
                                required>
                            <span class="m-form__help">Porfavor, entre com a data</span>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <button ng-if="vm.estado == vm.estados.editar" ng-click="vm.salvar(vm.pedido)" class="btn btn-success" ui-sref="dashboard"
                                id="salvarEdit" ng-disabled="pedidoForm.$invalid">Alterar</button>
                            <div ng-if="vm.estado == vm.estados.inserir" id="salvar" class="btn-group">
                                <button type="submit" class="btn btn-success" ng-click="vm.salvar(vm.pedido)" ng-disabled="pedidoForm.$invalid">Salvar</button>
                                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true" ng-disabled="pedidoForm.$invalid">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start">
                                    <a class="dropdown-item" ui-sref="#" ng-click="vm.salvar(vm.pedido, true)">Salvar e Inserir Outro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>